:root {
	--accent-color: #2196f3;
	--dark-text-color: #212121;
	--light-text-color: #ffffff;
	--description-text-color: #757575;
	--dark-background-color: #2f303a;
	--light-background-color: #f5f4fa;
	--main-background-color: #ffffff;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--dark-text-color);
	background-color: var(--main-background-color);
	letter-spacing: 0.03em;
}

.link {
	text-decoration: none;
}

.list {
	list-style: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.btn {
	font-family: inherit;
	letter-spacing: inherit;
}

.nav-list .link.current {
	color: var(--accent-color);
}

.section {
}

.container {
	margin-right: auto;
	margin-left: auto;
	width: 1200px;
	outline: 2px solid navy;
}
.inner {
	background-color: aquamarine;
}
/* ------------header------------ */

.header {
}

.header-nav {
}

.logo {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--accent-color);
}

.header-logo {
	color: #000000;
}

.nav-list {
}

.nav-item {
}

.nav-link,
.contacts-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.nav-link {
	color: var(--dark-text-color);
}

.nav-link:hover,
.nav-link:focus {
	color: var(--accent-color);
}

.header-contacts {
}

.contacts-link {
	color: var(--description-text-color);
}

.contacts-link:hover,
.contacts-link:focus {
	color: var(--accent-color);
}

/* ------------main------------ */

/* ------------hero------------ */

.hero {
	background-color: var(--dark-background-color);
}

.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	text-align: center;
	color: var(--light-text-color);
}

.hero-btn {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	text-align: center;
	color: var(--light-text-color);
	background-color: var(--accent-color);

	display: flex;
	align-items: center;
	cursor: pointer;
	border: none;
}

.hero-btn:hover,
.hero-btn:focus {
	background-color: #188ce8;
}

/* ------------benefits------------ */
.benefits {
}

.benefits-title {
}

.benefits-list {
}

.benefits-item {
}

.benefits-item-title {
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}

.benefits-item-text {
	font-size: 14px;
	line-height: 1.71;
	color: var(--description-text-color);
}

/* ------------workflow photos------------ */

.workflow {
}

.section-title {
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
}

.workflow-list {
}

.workflow-item {
}

.workflow-photo {
}

/* ------------team------------ */

.team {
	background-color: var(--light-background-color);
}

.team-list {
}

.team-item {
	background-color: var(--main-background-color);
}

.team-member-photo {
}

.team-member-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
}

.team-member-position {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	color: var(--description-text-color);
}

/* ------------footer------------ */

.footer {
	background-color: var(--dark-background-color);
}

.footer-logo {
	color: var(--light-text-color);
}

.address {
	font-style: normal;
}

.footer-address-text {
	font-size: 14px;
	line-height: 1.71;
	color: var(--light-text-color);
}

.footer-contacts-link {
	font-size: 14px;
	line-height: 1.71;
	color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
	color: var(--accent-color);
}

/* ------------portfolio------------ */

.portfolio {
}

.portfolio-filter {
}

.filter-item {
}

.filter-btn {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	background-color: var(--light-background-color);

	border: none;
	cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
	color: var(--light-text-color);
	background-color: var(--accent-color);
}

.portfolio-list {
}

.portfolio-item {
}

.project-img {
}

.project-title {
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--dark-text-color);
}

.project-category {
	font-size: 16px;
	line-height: 1.87;
	color: var(--description-text-color);
}
